<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-list lines="full" *ngIf="entries$ | async as entries">
    <ion-item *ngFor="let entrie of entries">
      <ion-label class="ion-text-wrap">{{ entrie.API }} : {{ entrie.Description }} link: <a href="{{ entrie.Link }}" target="_blank">Link</a></ion-label>
    </ion-item>
  </ion-list>
</ion-content>
